# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
logs/
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
venv/
env/

#Ignore temp files
outputs_partial_span_*